Current PC Name  >>>>> {{ ansible_facts.fqdn  }}
Current RAM size >>>>> {{ ansible_facts.memtotal_mb }}  MB
Current CPU size >>>>> {{ ansible_facts.processor_count  }}  vcpus

with best regards 

Ahmed mostafa
